# Common
*.zip
*.one
*.exe
*.onetoc2
/.vscode

# C
*.o

# Assignment 1
**/Assignment 1/bitmap
**/Assignment 1/after.bmp

# Assignment 2
**/Assignment 2/crack

# Assignment 3
**/Assignment_3/after.bmp
**/Assignment_3/main
